*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}


html, body {
    overflow-x: hidden !important;
}

:root{
    --colorAnnouncement: #0f0f0f;
    --colorAnnouncementText: #ffffff;
    --typeBaseSize: 18px;
    --colorNavText: #000000;
}

.container{
    width: 100vw;
}

/***** header *****/ 

.announcement-bar {
    background-color: var(--colorAnnouncement);
    padding: 12px 0;
    text-align: center;    
    font-size: calc(var(--typeBaseSize)*.80);
}

.announcement-bar span{
    font-size: .9em;
    font-weight: 700;
    letter-spacing: .2em;
    color:var(--colorAnnouncementText) ;
    padding: 0 5px;
}

.navbar{
    padding: 30px 0;
    border: 0.005px solid black;
    
}
.navbar-nav{
    padding: 0 40px;
    font-size: calc(var(--typeBaseSize)*.75);
}

.logo  {
    max-width: 70px;
}

.navbar-layout{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 0.9em;
    letter-spacing: .2em;
    opacity: 0.8;
    padding: 7.5px 0;
    gap: 20px;
}
.nav-links li a{
    text-decoration: none;
    color: var(--colorNavText);
    font-size: calc(var(--typeBaseSize)*.9);
    font-weight: 500;
    padding: 5px 0;
    text-transform: uppercase;
}

.move-right {
    margin-left: auto
}

.hover-border-bottom:hover {
    position: relative;
    border-bottom: 2px solid var(--colorNavText);

}


/***** End header *****/

