* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}




html,
body {
    overflow-x: hidden !important;
}

:root {
    --colorAnnouncement: #0f0f0f;
    --colorAnnouncementText: #ffffff;
    --typeBaseSize: 18px;
    --colorNavText: #000000;
    --colorBody: #ffffff;
    --colorBtnPrimary: #000000;
}

.container {
    width: 100vw;
}

/***** header *****/

.announcement-bar {
    background-color: var(--colorAnnouncement);
    padding: 12px 0;
    text-align: center;
    font-size: calc(var(--typeBaseSize)*.7);
}

.announcement-bar span {
    font-size: .9em;
    font-weight: 700;
    letter-spacing: .2em;
    color: var(--colorAnnouncementText);
    padding: 0 5px;
}

.navbar {
    padding: 25px 0;
    position: relative;

}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    font-size: calc(var(--typeBaseSize)*.75);
    width: 100vw;
    
}

.navbar-layout {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    max-width: 70px;
}

.main-links{
    padding:0 30px 0 0;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 0.9em;
    letter-spacing: .2em;
    padding: 7.5px 0;
    gap: 20px;
}

.nav-links .first-link>a {
    text-decoration: none;
    color: var(--colorNavText);
    font-size: calc(var(--typeBaseSize)*.85);
    font-weight: lighter;
    padding: 5px 0;
    text-transform: uppercase;
}

.main-links .first-link:hover>a {
    border-bottom: 2px solid var(--colorNavText);
}

.main-links .first-link {
    position: relative;
}

.main-links .first-link>div {
    display: none;
    position: absolute;
}

.main-links .first-link:hover .hover-detail {
    display: flex;
    align-items: space-between;
    position: absolute;
    top: calc(100% + 6px);
    left: -10%;
    background-color: var(--colorBody);
    box-shadow: 0 10px 20px #00000017;
    min-width: 100%;
    padding: 10px 15px;
    z-index: 5;
    text-align: left !important;
    min-width: 120%;
}

.main-links .first-link .second-link {
    list-style-type: none;
    text-wrap: nowrap;
    padding: 7px 0;
}

.main-links .second-link>a {
    text-decoration: none;
    color: var(--colorNavText);
    font-size: calc(var(--typeBaseSize)*.75);
    font-weight: 500;
    text-transform: uppercase;
}

.main-links .first-link:hover .hover-detail-full-screen {
    display: flex;
    position: fixed;
    top: 95px;
    left: 0;
    background-color: var(--colorBody);
    box-shadow: 0 10px 20px #00000017;
    padding: 10px 15px;
    z-index: 5;
    text-align: left !important;
    width: 100vw;
}

.hover-detail-full-screen > div{
    display: flex;
    justify-content: center;
    padding: 10px 25px;
    text-align: left !important;
}

.hover-detail-full-screen li:first-child > a{
    font-weight: 700;
}





/* <img src="https://pk.lamaretail.com/cdn/shop/files/nostalgia-series-at-lama.jpg?v=1771222370&width=2400" alt=""> */
/* transition: all .3s cubic-bezier(.2, .06, .05, .95);
    transition-delay: .3s; */


/***** End header *****/




.banner-img{
    width: 100%;
    height: calc(85vh);
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 60px 0;
}

.banner-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--colorBody);
}
.banner-headings{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.banner-headings h1{
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(var(--typeBaseSize)*3);
    letter-spacing: .1em;
}
.banner-links > ul{

    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    letter-spacing: .2em;
}

.banner-links a{
    color: var(--colorBody);
    font-size: calc(var(--typeBaseSize)*.85);
    letter-spacing: .2em;
}

.hero-img{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/new-women-apparel-at-lama.jpg?v=1772097392&width=2400");  
}

.shoes-img{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/new-shoes-at-lama-retail_442bb55a-a237-42f8-b3f8-890f2c7b478a.jpg?v=1772097765&width=2400");  
    
}
.new-season-img{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/new-womenswear-at-lama_fbcdbbb1-b68f-476c-92b1-2e32fa9ab3e6.jpg?v=1772017289&width=2400");  
    
}
.luxury-img{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/new-summer-safari-shirts.jpg?v=1772017390&width=2400");  
    
}
.bags-img{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/new-party-cluthes.jpg?v=1772098094&width=2400");  

}



.products-container{
    margin: 45px 0 75px 0;
}

.products-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 0 40px;
}

.products-layout-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5PX;
    
}
.products-layout-head h2{
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    ;
}
.products-layout-head a{
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2em;
}
.products-layout-head > a{
    text-decoration: none;
    color: var(--colorNavText);
    font-size: calc(var(--typeBaseSize)*.75);
    font-weight: 500;
    text-transform: uppercase;
}


.products-layout-products{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 25px;
}


.product{
    position: relative;
    FLEX: 1;

}


.product >a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    text-decoration: none;
    color: var(--colorNavText);   
    letter-spacing: 0.1em;
    font-size: cal(var(--typeBaseSize)*.75);
}

.product-img{
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.product .add-to-wishlist{
    position: absolute;
    top: 310px;
    left: 15px;
    color: white;
    z-index: 2;
}

.product > button{
    display: none;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    letter-spacing: .2em;
    font-size: calc(var(--typeBaseSize)*.75);
}

.product:hover button{
    display: block;
    opacity: 1;
    position: absolute;
    top: 320px;
    left: 50%;
    background-color: var(--colorBtnPrimary);
    color: var(--colorBody);
    border: none;
    width: 95%;
    padding: 5%;
    font-size: calc(var(--typeBaseSize)*.75);
}

.product button:hover{
    cursor: pointer;}


/* hero */

.hero-product-img-1{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26DR043-BROWN-COTTON-STRIPE-SHIRT-DRESS-685863_139.jpg?v=1772006971&width=1080");

}
.hero-product-1:hover .hero-product-img-1 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26DR043-BROWN-COTTON-STRIPE-SHIRT-DRESS-685863_134.jpg?v=1772006971&width=1000");

}
.hero-product-img-2{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26TP033-PINK-SALMON-PINSTRIPE-SHIRT-bca4a0_185.jpg?v=1772007417&width=1080");

}
.hero-product-2:hover .hero-product-img-2 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26TP033-PINK-SALMON-PINSTRIPE-SHIRT-bca4a0_183.jpg?v=1772007417&width=1000");

}
.hero-product-img-3{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26BT109-BROWN-SLOUCHY-EASE-PANTS-3f2e27_84.jpg?v=1772006874&width=1080");

}
.hero-product-3:hover .hero-product-img-3 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26BT109-BROWN-SLOUCHY-EASE-PANTS-3f2e27_87.jpg?v=1772006874&width=1000");

}
.hero-product-img-4{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WCS26BG028-BEIGE-THE-ERRAND-TOTE-928886_395.jpg?v=1772008326&width=1080");

}
.hero-product-4:hover .hero-product-img-4 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WCS26BG028-BEIGE-THE-ERRAND-TOTE-928886_398.jpg?v=1772008326&width=1000");

}
.hero-product-img-5{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26DR008-TEA-PINK-ONE-SIZE-COTTON-SHIRT-DRESS-b4988d_116_540x.jpg?v=1772006711");

}
.hero-product-5:hover .hero-product-img-5 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26DR008-TEA-PINK-ONE-SIZE-COTTON-SHIRT-DRESS-b4988d_121.jpg?v=1772006924&width=1000");

}


/* shoes */






.shoes-product-img-1{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WFS26SL057-COFFEE-EASY-PARTY-TOE-SLIDES-4a3437_448.jpg?v=1772009279&width=1080");

}
.shoes-product-1:hover .shoes-product-img-1 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WFS26SL057-COFFEE-EASY-PARTY-TOE-SLIDES-4a3437_452.jpg?v=1772009279&width=1000");

}
.shoes-product-img-2{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MFW25SK012-Sand-LACE-UP_KNIT_SNEAKERS-bab7b2_2_62b49f3b-a0f1-4f4c-8a7f-5109cd8be64e.jpg?v=1769166319&width=1080");

}
.shoes-product-2:hover .shoes-product-img-2 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MFW25SK012-SAND-LACE-UP-KNIT-SNEAKERS_269.jpg?v=1769166305&width=1000");

}
.shoes-product-img-3{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WFS26HL014-OLIVE-VERONA-MINI-HEELS-5a5336_1_540x.jpg?v=1772014340");

}
.shoes-product-3:hover .shoes-product-img-3 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WFS26HL014-OLIVE-VERONA-MINI-HEELS-5a5336_2.jpg?v=1772014340&width=1000");

}
.shoes-product-img-4{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MFW25SK010-BROWN-SUEDE_LIFESTYLE_SNEAKERS-5d2c1e_4.jpg?v=1769151923&width=1080");

}
.shoes-product-4:hover .shoes-product-img-4 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MFW25SK010-BROWN-SUEDE-LIFESTYLE-SNEAKERS_257.jpg?v=1769151923&width=1000");

}
.shoes-product-img-5{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WFS26SD011-SAND-LITTLE-VENICE-SANDALS-a78d76_3.jpg?v=1772014374&width=1080");

}
.shoes-product-5:hover .shoes-product-img-5 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WFS26SD011-SAND-LITTLE-VENICE-SANDALS-a78d76_2.jpg?v=1772014374&width=1000");

}



/* season */




.season-product-img-1{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26DR008-TEA-PINK-ONE-SIZE-COTTON-SHIRT-DRESS-b4988d_116.jpg?v=1772006711&width=1080");

}
.season-product-1:hover .season-product-img-1 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26DR008-TEA-PINK-ONE-SIZE-COTTON-SHIRT-DRESS-b4988d_121.jpg?v=1772006924&width=1000");

}
.season-product-img-2{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26TP094-MOCHA-SABLE-EASY-SHIRT-403028_216_540x.jpg?v=1772007490");

}
.season-product-2:hover .season-product-img-2 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26TP094-MOCHA-SABLE-EASY-SHIRT-403028_214.jpg?v=1772007490&width=1000");

}
.season-product-img-3{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26TP074-BEIGE-DROPLET-NECK-TOP-a8a596_1009.jpg?v=1770898631&width=1080");

}
.season-product-3:hover .season-product-img-3 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26TP074-BEIGE-DROPLET-NECK-TOP-a89a97_1011.jpg?v=1770898631&width=1000");

}
.season-product-img-4{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26TP011-WHITE-OVERSIZED-COTTON-BLOUSE-FFFFFF_940.jpg?v=1770897864&width=1080");

}
.season-product-4:hover .season-product-img-4 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26TP011-WHITE-OVERSIZED-COTTON-BLOUSE-FFFFFF_943.jpg?v=1770897864&width=1000");

}
.season-product-img-5{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26TP011-TAUPE-OVERSIZED-COTTON-BLOUSE-a28065_935_540x.jpg?v=1770897884");

}
.season-product-5:hover .season-product-img-5 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/WAS26TP011-TAUPE-OVERSIZED-COTTON-BLOUSE-8a7a63_929.jpg?v=1770897884&width=1000");

}




/* luxury */




.luxury-product-img-1{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MAS26TP212-CHARCOAL-LUXE-KNIT-POLO-beb0a3_579.jpg?v=1770898887&width=1080");

}
.luxury-product-1:hover .luxury-product-img-1 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MAS26TP212-CHARCOAL-LUXE-KNIT-POLO-40444f_572.jpg?v=1770898887&width=1000");

}
.luxury-product-img-2{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MAS26TP005-BEIGE-STITCH-DETAIL-SAFARI-847e64_254.jpg?v=1771059489&width=1080");

}
.luxury-product-2:hover .luxury-product-img-2 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MAS26TP005-BEIGE-STITCH-DETAIL-SAFARI-aca19d_257.jpg?v=1771059489&width=1000");

}
.luxury-product-img-3{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MAS26TP211-BLACK-SOFT-WEAVE-POLO-000000_535.jpg?v=1770898866&width=1080");

}
.luxury-product-3:hover .luxury-product-img-3 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MAS26TP211-BLACK-SOFT-WEAVE-POLO-000000_540.jpg?v=1770898866&width=1000");

}
.luxury-product-img-4{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MAS26TP210-CREAM-ESSENTIAL-POLO-b8b8ae_520.jpg?v=1770898808&width=1080");

}
.luxury-product-4:hover .luxury-product-img-4 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MAS26TP210-CREAM-ESSENTIAL-POLO-cac8bb_523.jpg?v=1770898808&width=1000");

}
.luxury-product-img-5{
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MAS26TP044-GREY-WASHED-EFFECT-SAFARI-SHIRT-575a61_331_540x.jpg?v=1771059505");

}
.luxury-product-5:hover .luxury-product-img-5 {
    background-image: url("https://pk.lamaretail.com/cdn/shop/files/MAS26TP044-GREY-WASHED-EFFECT-SAFARI-SHIRT-83847f_333.jpg?v=1771059505&width=1000");

}
/* BAGS */




.bag-product-img-1{
background-image: url("https://pk.lamaretail.com/cdn/shop/files/WCS26BG014-COFFEE-MARBELLA-CROSSBODY-BAG-2f202a_334.jpg?v=1772007304&width=1080");
}
.bag-product-1:hover .bag-product-img-1 {
background-image: url("https://pk.lamaretail.com/cdn/shop/files/WCS26BG014-COFFEE-MARBELLA-CROSSBODY-BAG-2f202a_328.jpg?v=1772007362&width=1000");
}
.bag-product-img-2{
background-image: url("https://pk.lamaretail.com/cdn/shop/files/WCW25BG018-YELLOW-CITY-SHOULDER-BAG-b6ba97_424.jpg?v=1772008939&width=1080");
}
.bag-product-2:hover .bag-product-img-2 {
background-image: url("https://pk.lamaretail.com/cdn/shop/files/WCS26BG014-COFFEE-MARBELLA-CROSSBODY-BAG-2f202a_327.jpg?v=1772007362&width=720");
}
.bag-product-img-3{
background-image: url("https://pk.lamaretail.com/cdn/shop/files/WCS26BG027-COFFEE-VIGO-DAY-TOTE-5e504d_377.jpg?v=1772007884&width=1080");
}
.bag-product-3:hover .bag-product-img-3 {
background-image: url("https://pk.lamaretail.com/cdn/shop/files/WCS26BG027-COFFEE-VIGO-DAY-TOTE-5e504d_384.jpg?v=1772007884&width=1000");
}
.bag-product-img-4{
background-image: url("https://pk.lamaretail.com/cdn/shop/files/WCS26BG028-CAMEL-THE-ERRAND-TOTE-785a50_403_540x.jpg?v=1772008268");
}
.bag-product-4:hover .bag-product-img-4 {
background-image: url("https://pk.lamaretail.com/cdn/shop/files/WCS26BG028-CAMEL-THE-ERRAND-TOTE-785a50_401.jpg?v=1772008308&width=1000");
}
.bag-product-img-5{
background-image: url("https://pk.lamaretail.com/cdn/shop/files/WCW25BG021-BURGUNDY-AFTER-HOURS-SHOULDER-BAG-532a3a_438.jpg?v=1772009114&width=1080");
}
.bag-product-5:hover .bag-product-img-5 {
background-image: url("https://pk.lamaretail.com/cdn/shop/files/WCW25BG021-BURGUNDY-AFTER-HOURS-SHOULDER-BAG-532a3a_436.jpg?v=1772009139&width=1000");
}

