* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}




html,
body {
    overflow-x: hidden !important;
}

:root {
    --colorAnnouncement: #0f0f0f;
    --colorAnnouncementText: #ffffff;
    --typeBaseSize: 18px;
    --colorNavText: #000000;
    --colorBody: #ffffff;
    --colorBtnPrimary: #000000;
}

.container {
    width: 100vw;
}

/***** header *****/

.announcement-bar {
    background-color: var(--colorAnnouncement);
    padding: 12px 0;
    text-align: center;
    font-size: calc(var(--typeBaseSize)*.7);
}

.announcement-bar span {
    font-size: .9em;
    font-weight: 700;
    letter-spacing: .2em;
    color: var(--colorAnnouncementText);
    padding: 0 5px;
}

.navbar {
    padding: 25px 0;
    position: relative;
    background-color: white

}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    font-size: calc(var(--typeBaseSize)*.75);
    width: 100vw;
    position: relative;
    
}

.navbar-layout {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    max-width: 70px;
}

.main-links{
    padding:0 30px 0 0;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 0.9em;
    letter-spacing: .2em;
    padding: 7.5px 0;
    gap: 20px;
}

.nav-links .first-link>a {
    text-decoration: none;
    color: var(--colorNavText);
    font-size: calc(var(--typeBaseSize)*.85);
    font-weight: lighter;
    padding: 5px 0;
    text-transform: uppercase;
}

.move-right a{
    font-size: calc(var(--typeBaseSize)*1) !important;
}

.main-links .first-link:hover>a {
    border-bottom: 2px solid var(--colorNavText);
}

.main-links .first-link {
    position: relative;

}

.main-links .static{
    position: static;
}

.main-links .first-link>div {
    visibility: hidden;
    position: absolute;
    
}

.main-links .first-link:hover .hover-detail {
    visibility: visible;
    display: flex;
    align-items: space-between;
    position: absolute;
    top: calc(100% + 6px);
    left: -10%;
    background-color: var(--colorBody);
    box-shadow: 0 10px 20px #00000017;
    min-width: 100%;
    padding: 10px 15px;
    z-index: 5;
    text-align: left !important;
    min-width: 120%;
}

.main-links .first-link .second-link {
    list-style-type: none;
    text-wrap: nowrap;
    padding: 7px 0;
}

.main-links .second-link>a {
    text-decoration: none;
    color: var(--colorNavText);
    font-size: calc(var(--typeBaseSize)*.75);
    font-weight: 500;
    text-transform: uppercase;
}

.main-links .first-link:hover .hover-detail-full-screen {
    visibility: visible;
    display: flex;
    position: absolute;
    top: 100% ;
    left: 0;
    background-color: var(--colorBody);
    box-shadow: 0 10px 20px #00000017;
    padding: 40px 15px;
    z-index: 5;
    text-align: left !important;
    width: 100vw;
}

.hover-detail-full-screen > div{
    display: flex;
    justify-content: center;
    padding: 10px 25px;
    text-align: left !important;
}

.hover-detail-full-screen li:first-child > a{
    font-weight: 700;
}



.fixed-position{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        animation: slidenDown 0.4s ease-in-out;
        -webkit-animation: slidenDown 0.4s ease-in-out;
}

@keyframes slidenDown{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}




/* banner */


.banner-img{
    width: 100%;
    height: calc(85vh);
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 60px 0;
}

.banner-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--colorBody);
}
.banner-headings{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.banner-headings h1{
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(var(--typeBaseSize)*3);
    letter-spacing: .1em;
}
.banner-links > ul{

    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    letter-spacing: .2em;
    text-underline-offset: 2px;
}

.banner-links a{
    color: var(--colorBody);
    font-size: calc(var(--typeBaseSize)*.85);
    letter-spacing: .2em;
}
/* banner end */

.hero-img{
   background-image: url("hero-and-logo-images/hero.jpg");   
}

.shoes-img{
   background-image: url("hero-and-logo-images/shoes.jpg");
    
}
.new-season-img{
   background-image: url("hero-and-logo-images/season.jpg"); 
    
}
.luxury-img{
   background-image: url("hero-and-logo-images/luxury.jpg"); 
}
.bags-img{
   background-image: url("hero-and-logo-images/bags.jpg"); 

}

.products-container{
    margin: 45px 0 75px 0;
}

.products-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 0 40px;
}

.products-layout-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5PX;
    
}
.products-layout-head h2{
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    ;
}
.products-layout-head a{
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2em;
}
.products-layout-head > a{
    text-decoration: none;
    color: var(--colorNavText);
    font-size: calc(var(--typeBaseSize)*.75);
    font-weight: 500;
    text-transform: uppercase;
}


.products-layout-products{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 25px;
}


.product{
    position: relative;
    FLEX: 1;
    height: 100%;
}


.product >a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    text-decoration: none;
    color: var(--colorNavText);   
    letter-spacing: 0.1em;
    font-size: cal(var(--typeBaseSize)*.75);
}

.product-img{
    width: 100%;
    height: 350px;
    
}

.product-img .img-1,.img2{
    width: 100%;
    height: 350px;
}
.product-img .img-2{
    width: 100%;
    height: 350px;
    display: none;
}

.product .add-to-wishlist{
    position: absolute;
    top: 310px;
    left: 15px;
    color: white;
    z-index: 2;
}

.product > button{
    visibility: hidden;
    position: absolute;
    top: 320px;
    left: 50%;
    background-color: var(--colorBtnPrimary);
    color: var(--colorBody);
    border: none;
    width: 95%;
    padding: 5%;
    font-size: calc(var(--typeBaseSize)*.75);
    transform: translate(-50%, -50%);
    
}

.product:hover button{
    visibility: visible;
    
    animation: button-up 0.4s ease-in;
    -webkit-animation: button-up 0.4s ease-in;
}

@keyframes button-up{
    from{opacity: 0;}
    to{opacity: 1;}
}

.product:hover .img-1{
    display: none;
}
.product:hover .img-2{
    display: block;
}

.product button:hover{
    cursor: pointer;
}



/* footer */
.footer-container {
    border-top: 1px solid #e8e8e1;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 25px;
    width: 100%;
}

.footer-child-box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 15px;
    flex: 1;
}

.footer-layout .links a{
    text-decoration: none;
    color: var(--colorNavText);
    font-size: calc(var(--typeBaseSize)*.85);
    
}
.footer-layout .singup span{
    font-size: calc(var(--typeBaseSize)*.85);
    letter-spacing: .2em;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;;
    
}
.footer-layout .singup span{
    font-size: calc(var(--typeBaseSize)*.85);
    letter-spacing: .2em;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;;
    
}
.footer-layout .singup input[type="email"]{
    border-radius: 0;
    border: 0px;
    border-bottom: 1px solid var(--colorNavText);
    font-size: calc(var(--typeBaseSize)*.85);
    padding-bottom: 3px;
}

.footer-layout .singup .icons{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: calc(var(--typeBaseSize)*.85);

    a{
        text-decoration: none;
        color: var(--colorNavText);
    }
}
.footer-layout .contacts a{
     text-decoration: underline;
     text-underline-offset: 2px;
     color: var(--colorNavText);
    
}

.footer-layout .locations div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
    text-align: center;
    font-size: calc(var(--typeBaseSize)*.85);
}

.footer-layout .locations,.contacts > span{
    
    font-size: calc(var(--typeBaseSize)*.85);
    letter-spacing: .2em;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}
.footer-layout .locations div span{
    display: block;
    font-size: calc(var(--typeBaseSize)*.75);
    font-weight: bolder;

}
.footer-layout .locations div a{
     text-decoration: underline;
     text-underline-offset: 2px;
     color: var(--colorNavText);

}

.foother-end{
    text-align: center;
    font-size: calc(var(--typeBaseSize)*.60);

}